* {
  box-sizing: border-box;
}

/*--------------------------- Style the body------------------------------ */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
/*------------------------------Header-------------------------------------*/
/* angled div */
.header-slanted-div {
  position: relative;
  background: #1f2833;
  overflow: visible;
  /*-------------------------(might have broken the effect) */
  z-index: 0;
  color: #c5c6c7;
}

/* where the magic happens */
.header-slanted-div:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: inherit;
  z-index: -1;
  bottom: 0;
  transform-origin: left bottom;
  transform: skewY(3deg);
}

/* displays the content inside, as these settings in the parent breaks the effect */
.header-slanted-div div {
  text-align: center;
  font-size: 1.5em;
  line-height: 1.5;
}

/*------------------------------Creating a column layout for the header section (with potrait) -------------------------------*/
/* Column container */
.row-main {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

/* Sidebar/left column */
.side {
  -ms-flex: 40%;
  flex: 40%;
  padding: 20px;
  text-align: justify;
}

/* Main column */
.main {
  -ms-flex: 60%;
  flex: 60%;
  padding: 20px;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row-main {
    flex-direction: column;
  }
}
/*------------------------------Creating a column layout for the scrollspy section -------------------------------*/
.row-main-scroll {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.side-scroll {
  -ms-flex: 40%;
  flex: 45%;
  padding: 15px;
  text-align: justify;
}
.main-scroll {
  -ms-flex: 60%;
  flex: 55%;
  padding: 5px;
}

@media screen and (max-width: 1200px) {
  .row-main-scroll {
    flex-direction: column;
  }
  .main-scroll{
    padding: 5px;
  }
}

/* -------------------------- Footer ---------------------------------*/
Edit in JSFiddle Result HTML CSS Resources .footer-basic {
  padding: 40px 0;
  background-color: #ffffff;
  color: #4b4c4d;
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic ul a:hover {
  opacity: 1;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer-basic .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.footer-basic .social > a:hover {
  opacity: 0.9;
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}
/*------------------------------------------------ Navigation Bar styles-----------------------------------------------------*/
.container {
  overflow: hidden;
  position: absolute;
  margin: 2px;
  width: auto;
  float: left;
}
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.25s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #66fcf1;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: transparent;
  color: #c5c6c7;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
  color: #66fcf1;
}

#main {
  transition: margin-left 0.25s;
  padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}

/* --------Slanted Div-----------*/

/* angled div */
.slanted-div {
  position: relative;
  padding: 10px 0;
  background: #1f2833;
  color: #c5c6c7;
  overflow: visible;
  z-index: 1;
}

/* where the magic happens */
.slanted-div:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  transform-origin: left top;
  transform: skewY(-3deg);
}

.slanted-div:after {
  bottom: 0;
  transform-origin: left bottom;
  transform: skewY(3deg);
}

/* displays the content inside, as these settings in the parent breaks the effect */
.slanted-div div {
  font-size: 1.5em;
  line-height: 1.5;
}
.slanted-div h1,
.slanted-div h3 {
  text-align: center;
}
