* {
    box-sizing: border-box;
  }

  /*--------------------------- Style the body------------------------------ */
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  /*------------------------------Header-------------------------------------*/
  /* angled div */
.header-slanted-div {
  position: relative;
  background: #1f2833;
  overflow: visible;
  z-index: 1;
  color: #c5c6c7;
}

/* where the magic happens */
.header-slanted-div:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: inherit;
  z-index: -1;
  bottom: 0;
  transform-origin: left bottom;
  transform: skewY(3deg);
}

/* displays the content inside, as these settings in the parent breaks the effect */
.header-slanted-div div {
  text-align: center;
  font-size: 1.5em;
  line-height: 1.5;
}

/*------------------------------Creating a column layou*-------------------------------/
  /* Column container */
  .row-main {
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE10 */
    flex-wrap: wrap;
  }

  /* Create two unequal columns that sits next to each other */
  /* Sidebar/left column */
  .side {
    -ms-flex: 30%;
    /* IE10 */
    flex: 30%;
    /* background-color: #f1f1f1; */
    padding: 20px;
    text-align: justify;
  }

  /* Main column */
  .main {
    -ms-flex: 70%;
    /* IE10 */
    flex: 70%;
    /* background-color: white; */
    padding: 20px;
  }
  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 700px) {
    .row-main {
      flex-direction: column;
    }
  }

  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .navbar a {
      float: none;
      width: 100%;
    }
  }

  /* for education and current position */
   /* Sidebar/left column */
   .side-edu-cp{
    -ms-flex: 50%;
    /* IE10 */
    flex: 50%;
    /* background-color: #f1f1f1; */
    padding: 20px;
    text-align: justify;
  }

  /* Main column */
  .main-edu-cp {
    -ms-flex: 50%;
    /* IE10 */
    flex: 50%;
    /* background-color: white; */
    padding: 20px;
  }
  /* -------------------------- Footer ---------------------------------*/
  .footer {
    padding: 20px;
    /* background-color: #1abc9c; */
    text-align: center;
    background: #333;
    color: white;
  }

  .EducationLogo {
    border-radius: 50%;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .EducationLogo:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }

  .EducationLogoRect {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .EducationLogoRect:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }

  @media screen and (max-width: 700px){
    .main-edu-cp{
        text-align: center;
    }
}


  /*------------------------------------------------ Navigation Bar styles-----------------------------------------------------*/
  .container
  {
    overflow: hidden;
    position:absolute;
    margin: 2px;
    width: auto;
    float: left;
  }
  .sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.25s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #66fcf1;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: transparent;
  color: #c5c6c7;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
  color:#66fcf1;
}

#main {
    transition: margin-left .25s;
    padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

/* --------Skills-----------*/

.LanguageLogo {
  border-radius: 50%;
  width: 68px;
}
/* angled div */
.slanted-div {
  position: relative;
  padding: 10px 0;
  background: #1f2833;
  color: #c5c6c7;
  overflow: visible;
  z-index: 1;
}

/* where the magic happens */
.slanted-div:before{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  transform-origin: left top;
  transform: skewY(-3deg);
}

.slanted-div:after {
  bottom: 0;
  transform-origin: left bottom;
  transform: skewY(3deg);
}

/* displays the content inside, as these settings in the parent breaks the effect */
.slanted-div div {
  font-size: 1.5em;
  line-height: 1.5;
}
.slanted-div h1, .slanted-div h3{
  text-align: center;
}
